* {
    font-family: Arial, Helvetica, sans-serif   ;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100dvh;
    }
    
    
    body {
    display:grid;
    grid-template-areas:
    'title title open'
    'beats beats beats'
    'scrub scrub scrub'
    'previous playpause next'
    'volume volume tumo';
    grid-template-rows: 64px auto 32px auto 32px;
    grid-template-columns: 33% auto 33%;

    background-color: forestgreen;
    width: 600px;
    height: 600px;
    border-radius: 40px;
    overflow: hidden;
    }   

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    button:active {
        scale: 0.9;
    }
    
    #title {
    background-color: green;
    color: white;
    margin: 0px;
    grid-area: title;
    font-size: 40px;
    }
    
    #open-input {
        grid-area: open;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    #file-input {
        position: absolute;
        opacity: 0;
        inset: 0;
        cursor: pointer;
    }
    
    #beats {
    grid-area: beats;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    #scrub-input {
        position: relative;
    grid-area: scrub;
    }
    
    #previous-button {
    grid-area: previous;
    }
    #play-button {
    grid-area: playpause;
    }

    #icon-play {
       
    }
    
    #icon-pause {
        display: none;
    }

    #next-button {
    grid-area: next;
    }
    
    #volume-input {
        display: flex;
        position: relative;
        grid-area: volume;
    }
    
    #tumo {
    grid-area: tumo;
    }

    .range-bar {
        position: absolute;
        inset: 0;
        background-color: white;
        transform-origin: left;
        transform: scaleX(0.5);
        pointer-events: none;
        cursor: pointer; 
    }

    input[type="range"] {   
        width:100%;
        opacity: 0      ;
    }

    #volume-input .container {
        display: flex;
        position: relative;
        flex: 1;
        width: 100%;
        cursor: pointer;
    }
    input[type="range"] {
        flex: 1;
    }


 